$bg-blanco: #ffffff;
$bg-verdeOscuro: #1f4c45;
$bg-naranjarojo: #ff4400;
$bg-azul: #2727a5;
$bg-amarillo: #ffff00;
$bg-celeste: #add8e6;
$bg-naranja: #cf493a;
$bg-lila: #b41eb4;

//*----------variables-Mixin

$fondo: transparent;
$color: $bg-blanco;
$fuente: sans-serif;
$mayusculas: uppercase;
$espaciado: 3px;
$margen: 0.5rem 0;
$padding: 1rem 3rem;
$borde: 2px solid $bg-blanco;