html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "kalmunt";
    src: local("kalmunt"),
    local("kalmunt"),
    url(../tipografias/kalmunt.ttf);
    font-weight: bold;
  }


#body-inicio{
    display: flex;
   }

#particles-js{
    width: 99%;
    height: 97.5vh;
     background-color: rgb(26, 34, 44); 
   /*  background-image: url('../img/mountains.jpg'); */
    background-size:cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    
    
    
    
}

#introduccion{

    z-index: 2;
    height: 97,5vh;
    width: 99%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
 
    #titulo{
    color:#FFF; 
    font-family: 'kalmunt', sans-serif;
    text-decoration: none;
    font-size: 4vmax;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: center;
    align-items: center; 
    z-index: 3;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
     height:fit-content;  
    transition: 1s;
}

header a h2{
    font-size: 2.5vmax;
}
 
 #titulo:hover{
    opacity: 1;
    
    color: rgb(255, 255, 255) ;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    border: #FFF 5px;
    
   
}
.offcanvas{
    transition: 0.6s ease;

}

#body-onepage{
    font-family: "montserrat", sans-serif;
    font-size: 2rem; 
    margin: 0; 
    padding: 0;
    
}

#informacion-general{
    color: #ffffff;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/background.jpg);
    background-size: cover;
   
}
iframe{
    height: 40vh;
    width: 40vw;
    
}
h2{
    font-size: 3rem;
    text-align: center;
}

#informacion-tecnica img{  
    height: 100vh;
    width: 40%;
    justify-content: center;
    align-items: center;
}
table{
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
}
#informacion-tecnica p{
    width: 90%; 
    margin: 2rem;
    text-align: center;

    
}

.carousel-item{
transition: all 0.5s;
}

.fa-html5{
    color: orangered;
}

.fa-css3-alt{
    color: rgb(39, 39, 165);
}

.fa-js-square{
    color: yellow;
}

.fa-react{
    color: lightblue;
}

.fa-git-square{
    color: rgb(207, 73, 58);
}

.fa-bootstrap{
    color: rgb(180, 30, 180);
}

#informacion-tecnica{
    margin-top: 4rem;
    color: #1f4c45;
    
}

#proyectos h2{
    margin: 5rem;
    color: #1f4c45;
}

footer{
    background-color: #1f4c45;
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 15vh;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
    
    footer a{
        color: rgb(255, 255, 255);
        padding:0.5rem;
    }
    footer div{
      order:1;
    }

    #contacto{
        height: 80vh;
        width: 100%;
        color: #FFF;
        background-color: #1f4c45;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20rem;
        margin-bottom: 15rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-radius: 1%;
        box-shadow: 1px 1px 10px black;
    }
    .comentarios{
        color: #1f4c45;
    }
    .text-area{
        height: 50px;
    }
    
